@import '../card.scss';

.my-card {
  .card-image {
    background-image: url('/src/assets/project_guavavet.png');
    height: 300px;
    //https://bennettfeely.com/clippy/
    -webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 50% 90%, 0 100%, 0 0);
    clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 50% 90%, 0 100%, 0 0);

    &::after {
      content: ' ';
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(73, 32, 138, 0.363);
      -webkit-clip-path: polygon(100% 100%, 50% 90%, 100% 80%);
      clip-path: polygon(100% 100%, 50% 90%, 100% 80%);
    }
    &::before {
      content: ' ';
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(32, 96, 138, 0.363);
      -webkit-clip-path: polygon(0% 100%, 50% 90%, 0% 80%);
      clip-path: polygon(0% 100%, 50% 90%, 0% 80%);
    }
  }
}
