<app-navbar></app-navbar>

<div class="container-fluid header">

  <div id="home" class="row">
    <div class="col-md-6 full-height">
      <div class="center-header-text">
        <h1>> Hi, I'm Matthew</h1>
        <h3>I like to tinker with code</h3>
      </div>
    </div>

    <div class="col-md-6 full-height">
      <div class="center-vertical">
        <app-terminal></app-terminal>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" class="background-alt">
  <div class="container">
    <div id="projects" class="row">

      <div class="col-md-12">
        <div class="section-title">
          <h3 class="text-center"> Projects </h3>
          <div class="divider-block center-horizontal"></div>
        </div>

        <div>
          <app-horizontal-card-2></app-horizontal-card-2>
        </div>
        <div>
          <app-horizontal-card-2></app-horizontal-card-2>
        </div>
        <div>
          <app-horizontal-card-2></app-horizontal-card-2>
        </div>


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="blog" class="row">

    <div class="col-md-12">
      <div class="section-title">
        <h3 class="text-center"> Blog </h3>
        <div class="divider-block center-horizontal"></div>
      </div>

      <div>
        <app-horizontal-card></app-horizontal-card>
      </div>

      <div class="row">
        <div class="col-md-6">
          <app-vertical-card orientation="vertical"></app-vertical-card>
        </div>
        <div class="col-md-6">
          <app-vertical-card orientation="vertical"></app-vertical-card>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div id="contact" class="contact-me row">

    <div class="col-md-12">
      <div class="section-title">
        <h3 class="text-center"> matthewmullin01@gmail.com </h3>
        <div class="divider-block center-horizontal"></div>
      </div>

      <!-- <div class="contact-email text-center">
        <h5>matthewmullin01@gmail.com</h5>
      </div> -->

    </div>
  </div>
</div>

<div class="container">
  <footer class="footer row">

    <div class="col-md-12">

      <div class="float-left">
        <b>matthewmullin</b>
        <span>.All rights reserved</span>
      </div>

      <div class="float-right">
        <ul class="link-icons-list">
          <li><a href="#"><i class="fas fa-envelope"></i></a></li>
          <li><a href="#"><i class="fab fa-github"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>

    </div>
  </footer>
</div>