<div class="fullscreen container-fluid">
  <div class="row whole-terminal">

    <div class="toolbar col-12">
      <div class="toolbar-actions">
        <div class="toolbar-action red"></div>
        <div class="toolbar-action yellow"></div>
        <div class="toolbar-action green"></div>
      </div>

    </div>

    <div class="terminal col-12">
      <div class="row">

        <div class="col-sm-11 offset-1 io-group">
          <div class="input-text">>&nbsp;&nbsp;details.fullName</div>
          <div class="output-text">"Matthew Mullin"</div>
        </div>

        <div class="col-sm-11 offset-1 io-group">
          <div class="input-text">>&nbsp;&nbsp;details.location</div>
          <div class="output-text">"Stellenbosch, Western Cape"</div>
        </div>

        <div class="col-sm-11 offset-1 io-group">
          <div class="input-text">>&nbsp;&nbsp;details.education</div>
          <div class="output-text">"B.Eng. Electrical and Electronic (Informatics) - University of Stellenbosch"</div>
        </div>

        <div class="col-sm-11 offset-1 io-group">
          <div class="input-text">>&nbsp;&nbsp;details.about</div>
          <div class="output-text">"Hi, I'm Matthew, a 23-year-old Full Stack developer. I like to keep ahead of the
            curb by tinkering with all kinds of new tech stacks. I’ve got my hands dirty with everything from large
            scale commercial Angular webapps, to small React and React Native widgets as well as full native mobile
            applciations.
            <br>
            <br>
            I’m most at home with the Angular framework, but most exited about the future prospects of cross platform
            frameworks like React Native and more recently Flutter"</div>
        </div>

        <div class="col-sm-11 offset-1 io-group">
          <div class="input-text">>&nbsp;&nbsp;details.hobbies</div>
          <div class="output-text">["Programming", "Learning", "Design", "Hockey"]</div>
        </div>

      </div>
    </div>

  </div>
</div>